<?xml version="1.0" encoding="GB18030" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c %t %m%n" />
		</layout>
		<!-- <filter class="org.apache.log4j.varia.DenyAllFilter" /> -->
	</appender>

	<appender name="INFO" class="com.cplatform.log.DatedFileAppender">
		<param name="File" value="log/%yyyy%mm/%dd/info" />
		<param name="Append" value="true" />
		<param name="BufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c %t %m%n" />
		</layout>
	</appender>

	<appender name="ERROR" class="com.cplatform.log.DatedFileAppender">
		<param name="File" value="log/%yyyy%mm/%dd/error" />
		<param name="Append" value="true" />
		<param name="BufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c %t %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<appender name="DubboLogAppender" class="com.cplatform.log.DatedFileAppender">
		<param name="File" value="log/%yyyy%mm/%dd/dubbo" />
		<param name="Append" value="true" />
		<param name="BufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c{2} %t %m%n" />
		</layout>
	</appender>

	<appender name="AllServiceAppender" class="com.cplatform.log.DatedFileAppender">
		<param name="File" value="log/%yyyy%mm/%dd/service.all" />
		<param name="Append" value="true" />
		<param name="BufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %t %m%n" />
		</layout>
	</appender>
	
	<logger name="com.cplatform.shop.service.ShopService"
		additivity="true">
		<level value="TRACE" />
		<appender-ref ref="AllServiceAppender" />
	</logger>

	<logger name="com.alibaba.dubbo" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ERROR" />
		<appender-ref ref="DubboLogAppender" />
	</logger>
	<logger name="com.google.code.yanf4j.core" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="org.apache" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="org.apache.http" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="org.eclipse.jetty" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="org.mortbay.log" additivity="false">
		<level value="INFO" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="org.springframework" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="org.hibernate" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="com.mchange.v2" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="net.rubyeye.xmemcached" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="org.apache.commons.net" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="com.cplatform.spring.cache" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ERROR" />
	</logger>
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</root>

</log4j:configuration> 